<template>
  <div>
    <div v-for="(item, index) in props.options" :key="index">
      <van-icon :name="item.icon" />
    </div>
  </div>
</template>

<script lang="ts" setup>
import { defineProps } from 'vue'
export interface optionObj {
  icon: string
  title: string
}
let props = defineProps<{
  options: {
    type: optionObj[]
  }
}>()
// const props = defineProps({
//   options: {
//     type: Array,
//     default: (): optionObj[] => {
//       return []
//     },
//   },
// })
</script>

<style lang="scss" scoped></style>
