@import './vant.scss';

html {
  height: 100%;
  box-sizing: border-box;
}
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: PingFangSC-Regular, PingFang SC, Microsoft YaHei;
  background-color: #f7f7f9;
}

#app {
  height: 100%;
}
