<template>
  <div class="home">
    <van-button type="primary">主要按钮</van-button>
  </div>
</template>

<script lang="ts">
import { Vue } from 'vue-class-component' // @ is an alias to /src

export default class Home extends Vue {}
</script>
