<template>
  <div class="home">asda</div>
</template>

<script></script>

<style lang="scss" scoped>
.home {
  height: 100%;
  background-image: linear-gradient(
    to left top,
    #3e3552,
    #584c6b,
    #726585,
    #8e7fa0,
    #ab9abc
  );
}
</style>
